<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KidsMaths.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <KidsMaths.Properties.Settings>
            <setting name="RangeFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RangeTo" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AddSubtrPattern" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="rdoDoubles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdoHalf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdoTimesTables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cboTimesTables" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimesTableInOrder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimesTableRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionAndSubtraction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tens" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TensValue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Bonds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BondsValue" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Doubles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoublesRangeFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DoublesRangeTo" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Halves" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HalvesRangeFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HalvesRangeTo" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ChildsName" serializeAs="String">
                <value>Mairangi Bay School</value>
            </setting>
        </KidsMaths.Properties.Settings>
    </userSettings>
</configuration>